<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JB2.Common.Core" version="0.4.19.2" targetFramework="net452" />
  <package id="JB2.Common.RNG" version="0.1.2.0" targetFramework="net452" />
  <package id="JB2.Common.Serialization.Json" version="0.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>