<?xml version="1.0" encoding="utf-8"?>
<packages>
  
  
  <package id="JB2.Common.Core.Net35" version="0.4.4.2" targetFramework="net35" />
  
  <package id="JB2.Common.Date.Net35" version="0.2.2" targetFramework="net35" />
  
  <package id="JB2.Common.Image.Net35" version="0.2.2" targetFramework="net35" />
  
  <package id="JB2.Common.Log.Net35" version="0.3.2" targetFramework="net35" />
  <package id="JB2.Common.RNG.Net2" version="0.1.2.0" targetFramework="net20" />
 
  <package id="JB2.Economy.Core.Net35" version="0.3.0" targetFramework="net35" />
  
  <package id="JB2.Economy.jBean.Net35" version="0.3.0" targetFramework="net35" />
  
</packages>